.profile,
.profile * {
  box-sizing: border-box;
}

.profile {
  background: var(--d-base-bg, #0c111a);
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}

.rectangle-32 {
  background: var(--d-secondary-bg, #151a24);
  border-radius: 25px;
  width: 400px;
  height: 554.45px;
  position: absolute;
  left: 166px;
  top: 190px;
}

.ellipse-11 {
  background: var(--d-border-accent, #2b2b2b);
  border-radius: 50%;
  width: 229.41px;
  height: 229.41px;
  position: absolute;
  left: 251.29px;
  top: 250.29px;
}

.frame-38 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 207.5px;
  top: 512.71px;
}

.aayush-kumar-singh {
  color: var(--d-basetext, #ffffff);
  text-align: center;
  font: 500 30px "Poppins-Medium", sans-serif;
  position: relative;
  width: 317px;
  height: 45px;
}

._21-bce-1942 {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: center;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
  width: 130.72px;
  height: 28.21px;
}

.primary-button-small {
  background: var(--accent-logo-button, #104fe1);
  border-radius: 12px;
  padding: 20px 60px 20px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 64px;
  position: absolute;
  left: 254px;
  top: 618.91px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.edit-profile {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: relative;
  cursor: pointer;
}

.cobalt {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 36px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 156px;
  top: 29.2px;
}

.rectangle-75 {
  background: var(--d-secondary-bg, #151a24);
  border-radius: 25px;
  width: 695.85px;
  height: 554.45px;
  position: absolute;
  left: 606.01px;
  top: 190px;
}

.my-profile {
  color: #ffffff;
  text-align: left;
  font: 600 32px "Poppins-SemiBold", sans-serif;
  position: absolute;
  left: 652px;
  top: 223.96px;
}

.personal-information {
  color: #ffffff;
  text-align: left;
  font: 500 28px "Poppins-Medium", sans-serif;
  position: absolute;
  left: 652px;
  top: 311.96px;
}

.frame-92 {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 652px;
  top: 393.96px;
}

.name {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.aayush-kumar-singh2,
.anugrah-toby-gmail-com,
._20,
.male,
.password {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: relative;
}

.password-value {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.frame-93 {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 652px;
  top: 453.96px;
}

.e-mail {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.anugrah-toby-gmail-com {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: relative;
}

.frame-94 {
  display: flex;
  flex-direction: row;
  gap: 92px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 652px;
  top: 513.96px;
}

.age {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

._20 {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: relative;
}

.frame-95 {
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 652px;
  top: 573.96px;
}

.gender {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.male {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 24px
  "Poppins-SemiBold", sans-serif;
  position: relative;
}

.frame-96 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 652px;
  top: 633.96px;
}

.password {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.password-value {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.group-919 {
  position: absolute;
  inset: 0;
}

.rectangle-36 {
  background: var(--d-window-bg, #080c12);
  border-radius: 25px;
  width: 94.12px;
  height: 1050.41px;
  position: absolute;
  left: 21px;
  top: 14.79px;
}

.frame-44 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 49.3px;
  top: 44.95px;
}

.vector {
  flex-shrink: 0;
  width: 33.75px;
  height: 22.5px;
  position: relative;
  overflow: visible;
}

.frame-43 {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}

.ellipse-5 {
  background: var(--d-basetext, #ffffff);
  border-radius: 50%;
  width: 47.09px;
  height: 47.09px;
  position: absolute;
  left: 44.52px;
  top: 986.22px;
}

.input-label {
  color: var(--d-disabled-text, #7d7d7d);
  text-align: left;
  font: 500 24px "Poppins-Medium", sans-serif;
  position: relative;
}

.input-value {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 600 24px "Poppins-SemiBold", sans-serif;
  position: relative;
}

.save-button {
  background: var(--accent-logo-button, #104fe1);
  border-radius: 12px;
  padding: 20px 60px 20px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 64px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
}

.save-button-text {
  color: var(--d-basetext, #ffffff);
  text-align: left;
  font: 500 20px "Poppins-Medium", sans-serif;
  position: relative;
}

.masked-password {
    color: white;
}

.profile input {
    padding: 8px; 
    box-sizing: border-box;
  }

  .profile .masked-password {
    color: white;
    padding: 8px; 
  }
  
.profile .password-input-container {
  position: relative;
  width: 250px;
}

.profile .password-input-container input {
  width: calc(100% - 32px);
  padding: 8px;
  box-sizing: border-box;
}

.profile .show-password-button {
  position: absolute;
  top: 50%;
  right: 33px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #2C68F3;
  cursor: pointer;
}
